@mixin flex($dir,$jc){
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
} 
body{
    // background-color: #f1f2f6;
}
.navbar{
    background-color: #08192d;
    .inav{
        @include flex(row,space-around);
        img{
            width: 161px;
            height: 121px;
        }
        ul{
            @include flex(row,space-around);

            li{
                list-style: none;
                a{
                    color: #FFF;
                    font-size: 20px;
                    margin-left: 60px;
                    text-decoration: none;

                
                }
            }
        }
    }
}
.header{
    background-color: #0a183d;
    height: 88vh;
    @include flex(row,space-around);

    h1{
        color: #FFF;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        margin-bottom: 25px;
        line-height: .9;
        position: relative;
        top: 50px;
        span{
            color: #fc0254;
        }
    }
}
.all{
    padding: 10%;
    @include flex(column,center);
    h1{
        color: #fc0254;
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        margin-bottom: 25px;
    }
}

   #res img{
        width: 900px;
        height: 600px;
    }

    #icon-left{
        color: #ecf0f1;
        top: 166%;
        left: 503px;
        position: absolute;
        font-size: 59px;
    
    }
    #icon-right{
        color: #ecf0f1;
        top: 166%;
        right:503px;
        position: absolute;
        font-size: 59px;
    }
    .dtl{
        width: 900px;
        // border: 1px solid black;
        @include flex(row,center);
        p{
            margin: 3%;
            color: #2c3e50;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .music{
        @include flex(column,center);
    }
    // #i1{
    //     color: #9b59b6;
    //     // top: 166%;
    //     // left: 503px;
    //     // position: absolute;
    //     font-size: 59px;
    // }
    // #i2{
    //     color: #9b59b6;
    //     // top: 166%;
    //     // left: 503px;
    //     // position: absolute;
    //     font-size: 59px;
    // }